openapi: 3.0.0
info:
  title: Face++ API
  description: REST API для взаимодействия с Face++
  version: 1.0.0
servers:
  - url: https://api-us.faceplusplus.com

paths:
  /facepp/v3/detect:
    post:
      summary: Detect and analyze human faces within the image that you provided.
      operationId: face_detection
      tags: [ Face ]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: api_secret
          required: true
          schema:
            type: string
        - in: query
          name: return_landmark
          required: false
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_file:
                  type: string
                  format: binary
                  description: The image file to upload
              required:
                - image_file
      responses:
        '201':
          description: Успешная регистрация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaceResponse'
#        '400':
#          description: Ошибка валидации
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/ErrorResponse'


components:
  schemas:
    FaceResponse:
      type: object
      properties:
        request_id:
          type: string
        time_used:
          type: integer
        faces:
          type: array
          items:
            type: object
            properties:
              face_token:
                type: string
              face_rectangle:
                type: object
                properties:
                  top:
                    type: integer
                  left:
                    type: integer
                  width:
                    type: integer
                  height:
                    type: integer
              landmark:
                type: object
                properties:
                  contour_chin:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left4:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left5:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left6:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left7:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left8:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_left9:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right4:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right5:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right6:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right7:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right8:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  contour_right9:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_bottom:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_center:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_left_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_lower_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_lower_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_pupil:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_right_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_top:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_upper_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eye_upper_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_left_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_lower_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_lower_middle:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_lower_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_right_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_upper_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_upper_middle:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  left_eyebrow_upper_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_left_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_bottom:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_left_contour1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_left_contour2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_left_contour3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_right_contour1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_right_contour2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_right_contour3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_lower_lip_top:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_right_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_bottom:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_left_contour1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_left_contour2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_left_contour3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_right_contour1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_right_contour2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_right_contour3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  mouth_upper_lip_top:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_contour_left1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_contour_left2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_contour_left3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_contour_lower_middle:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_contour_right1:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_contour_right2:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_contour_right3:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_left:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_right:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  nose_tip:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_bottom:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_center:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_left_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_lower_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_lower_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_pupil:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_right_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_top:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_upper_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eye_upper_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_left_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_lower_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_lower_middle:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_lower_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_right_corner:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_upper_left_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_upper_middle:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
                  right_eyebrow_upper_right_quarter:
                    type: object
                    properties:
                      x:
                        type: integer
                      y:
                        type: integer
              attributes:
                type: object
                properties:
                  gender:
                    type: object
                    properties:
                      value:
                        type: string
                  age:
                    type: object
                    properties:
                      value:
                        type: integer





