server:
  port: 8084

spring:
  application:
    name: landmark-service
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}
    username: elastic
    password: password
  kafka:
    bootstrap-servers: ${KAFKA:http://localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: landmark-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      enable-auto-commit: false
#      enable-auto-commit: true
#      auto-commit-interval: 1000


profile:
  topic: "profile"
  outbox: "dbserver.profile.outbox"


management:
  server:
    port: 8084
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      access: read_only
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true

otel:
  exporter:
    otlp:
      endpoint: http://alloy.monitoring.svc.cluster.local:4318
      protocol: http/protobuf
  logs:
    exporter: none
  metrics:
    exporter: none



