server:
  port: 8084
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  tomcat:
    connection-timeout: 10s
    keep-alive-timeout: 30s
    max-connections: 10000
    threads:
      max: 200
      min-spare: 10

spring:
  application:
    name: landmark-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${RESOURCE_SERVER_ISSUER_URI:http://localhost:8080/realms/customer}
          jwk-set-uri: ${RESOURCE_SERVER_JWK_SET_URI:http://localhost:8080/realms/customer/protocol/openid-connect/certs}
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}
    username: ${ELASTICSEARCH_USERNAME:elastic}
    password: ${ELASTICSEARCH_PASSWORD:password}
  kafka:
    bootstrap-servers: ${KAFKA:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: landmark-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      enable-auto-commit: false
      auto-offset-reset: earliest
      isolation-level: read_committed
    listener:
      ack-mode: manual_immediate # Spring controls commits
      concurrency: 3
      type: single

profile:
  outbox: "dbserver.profile.outbox"

management:
  server:
    port: 8084
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,loggers
        exclude: shutdown,env,beans,configprops,mappings
  endpoint:
    prometheus:
      access: read_only
  metrics:
    enable:
      jvm: true
      system: true
      logback: true
      kafka: true
      cassandra: true
      http: true
      jdbc: true
      process: true
      tomcat: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true
        step: 60s
        descriptions: true
  otlp:
    tracing:
      endpoint: ${ALLOY_OTLP_TRACING_ENDPOINT:http://alloy:4318/v1/traces}

otel:
  exporter:
    otlp:
      endpoint: ${ALLOY_OTLP_ENDPOINT:http://alloy:4318}
      protocol: http/protobuf
  logs:
    exporter: none
  metrics:
    exporter: none

logging:
  level:
    io.opentelemetry.exporter.internal: WARN





