spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        httpserver:
          wiretap: true
        httpclient:
          wiretap: true
        webflux:
          routes:
            - id: profiles-feed
              uri: http://user-service:8082
              predicates:
                - Path=/api/v1/profiles/feed
                - Method=GET

            - id: update-profile
              uri: http://user-service:8082
              predicates:
                - Path=/api/v1/profiles
                - Method=PATCH

            - id: upload-photo
              uri: http://user-service:8082
              predicates:
                - Path=/api/v1/photos/upload
                - Method=POST

            - id: delete-photo
              uri: http://user-service:8082
              predicates:
                - Path=/api/v1/photos/{photoId}
                - Method=DELETE

            - id: update-location
              uri: http://landmark-service:8084
              predicates:
                - Path=/api/v1/profiles/location
                - Method=PATCH

            - id: create-swipe
              uri: http://swipe-service:8083
              predicates:
                - Path=/api/v1/swipes
                - Method=GET,POST

            - id: get-matches
              uri: http://swipe-service:8083
              predicates:
                - Path=/api/v1/matches
                - Method=GET

  servlet:
    multipart:
      max-file-size: 128KB
      max-request-size: 128KB
      enabled: true

  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: ${application.keycloak.clientId}
            client-secret: ${application.keycloak.clientSecret}
            client-name: ${application.keycloak.clientId}
            authorization-grant-type: authorization_code
            scope: openid, profile, email
      resourceserver:
        jwt:
          issuer-uri: ${application.keycloak.serverUrl}/realms/${application.keycloak.realm}
logging:
  reactor:
    netty : DEBUG
  level:
#    root: DEBUG
    org:
      springframework:
        cloud:
          gateway: DEBUG
        security: DEBUG

application:
  keycloak:
    realm: ${KEYCLOAK_REALM:customer}
    clientId: ${KEYCLOAK_CLIENT_ID:customer}
    clientSecret: ${KEYCLOAK_CLIENT_SECRET:s58oVwOCNpThoThUXKWtE8flEW4Aq368}
    serverUrl: ${KEYCLOAK_SERVER_URL:http://kc-service.default.svc.cluster.local:8080}
    realmUrl: ${application.keycloak.serverUrl}/realms/${application.keycloak.realm}
    tokenUrl: ${application.keycloak.realmUrl}/protocol/openid-connect/token
    adminUsername: admin
    adminPassword: admin
    adminClientId: admin-cli


server:
  port: 8081

#keycloak
auth:
  name: ${AUTH_API_NAME:auth}
  url: ${AUTH_API_URL:http://localhost:8080}

keycloakAuth:
  name: ${KEYCLOAK_AUTH_API_NAME:auth}
  url: ${KEYCLOAK_AUTH_API_URL:http://localhost:8080}

users:
  name: ${USERS_API_NAME:kcUsers}
  url: ${USERS_API_NAME:http://localhost:8082}

#end keycloak

profile:
  name: person
  url: ${PROFILE_API_URL:http://localhost:8082}

photo:
  name: photo
  url: ${PROFILE_API_URL:http://localhost:8082}

swipe:
  name: ${SWIPE_API_NAME:swipe}
  url: ${SWIPE_API_URL:http://localhost:8083}

feed:
  name: ${FEED_API_NAME:feed}
  url: ${FEED_API_URL:http://localhost:8083}

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      access: read_only
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true
  otlp:
    tracing:
      endpoint: ${ALLOY_OTLP_TRACING_ENDPOINT:http://alloy:4318/v1/traces}

otel:
  exporter:
    otlp:
      endpoint: ${ALLOY_OTLP_ENDPOINT:http://alloy:4318}
      protocol: http/protobuf
  logs:
    exporter: none
  metrics:
    exporter: none
