apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: swipe-service
  namespace: argocd
  labels:
    app: swipe-service
    component: swipe-service
    managed-by: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
    description: "Swipe service for Soulmate application"
  finalizers:
    - resources-finalizer.argoproj.io/foreground
spec:
  project: default
  source:
    repoURL: https://github.com/maxbpro/soulmate-system.git
    targetRevision: HEAD
    path: ./swipe-service/k8s
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
      - Validate=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m