apiVersion: apps/v1
kind: Deployment
metadata:
  name: debezium-ui
  namespace: soulmate-infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: debezium-ui
  template:
    metadata:
      labels:
        app: debezium-ui
    spec:
      containers:
        - name: debezium-ui
          image: debezium/debezium-ui:1.9
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: KAFKA_CONNECT_URIS
              value: http://debezium-connect:8083
            - name: BACKEND_KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9091
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"

---

apiVersion: v1
kind: Service
metadata:
  name: debezium-connect
  namespace: soulmate-infra
spec:
  selector:
    app: debezium-connect
  ports:
    - port: 8083
      targetPort: 8083
      name: http
  type: ClusterIP